{
  "service": {
    "name": "{{ name }}",
    "tags": ["{{tag}}"],
    "address": "{{ ip_address }}",
    "port": {{ port }},
    "checks": [
      {
        "script": "{{ script_check_path }}",
        "interval": "10s"
      }
    ]
  }
}
