{
  "service": {
    "id": "{{ inventory_hostname }}_{{ service_name }}",
    "name": "{{ service_name }}",
    "tags": ["{{tag}}"],
    "address": "{{ ip_address }}",
    "checks": [
      {
        "script": "{{ script_check_path }}",
        "interval": "10s"
      }
    ]
  }
}
